/* src/styles/Sidebar.css */

.sidebar {
    position: absolute;
    left: 110px;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #F0F0F0;
    color: white;
    padding: 2rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  }
  
  .sidebar__image {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 20px;
  }
  
  .sidebar__info {
    text-align: center;
    font-size: 0.95rem;
    width: 100%;
  }
  
  .sidebar__text {
    margin: 0.8rem 0;
    font-size: 13px;
  }
  
  .sidebar__line {
    border: none;
    height: 1px;
    background-color: #000;
    margin: 1rem 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sidebar__contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #4CAF50;
    color: #ffffff;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  }
  
  .sidebar__contact-btn:hover {
    background-color: #45A049;
  }
  